@page "/account/login"
@inherits ExtendedComponentBase
@layout AnonymousLayout

<EditForm Model="ViewModel" OnValidSubmit="ValidSubmitHandler">
    <DataAnnotationsValidator />

    <div class="anonymous-form-field">
        <MudIcon Icon="@Icons.Material.Sharp.Email" Color="Color.Primary" />
        <MudTextField @bind-Value="@ViewModel.Email" 
                      Label="@("Email")" 
                      InputType="InputType.Email" 
                      For="@(() => ViewModel.Email)" />
    </div>

    <div class="anonymous-form-field">
        <MudIcon Icon="@Icons.Material.Sharp.Password" Color="Color.Primary" />
        <MudTextField @bind-Value="@ViewModel.Password" 
                      Label="@("Password")" 
                      InputType="@PasswordInputType" 
                      For="@(() => ViewModel.Password)"
                      Adornment="Adornment.End" AdornmentAriaLabel="Password Visibility" AdornmentIcon="@PasswordIcon" AdornmentColor="Color.Primary" 
                      OnAdornmentClick="PasswordVisibilityHandler" />
    </div>

    <MudButton ButtonType="ButtonType.Submit" 
               Class="anonymous-form-button" 
               Variant="Variant.Filled" 
               Color="Color.Primary" 
               DropShadow="false">@("Login")</MudButton>

    <MudLink Class="anonymous-form-link" Href="/account/register">@("Don't have an account? Click here to register")</MudLink>
</EditForm>