@inherits ComponentBase
@inject NavigationManager NavigationManager


<div class="nav-grid">
    <span @onclick="@(() => NavigationManager.NavigateTo("/dashboard"))">
        <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.Dashboard" class="mr-3" />
        <MudNavLink Match="NavLinkMatch.Prefix" ActiveClass="bold" Href="/dashboard">Dashboard</MudNavLink>
    </span>
    <span>
        <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.CalendarToday" class="mr-3" />
        @*Href varies depending on the role*@
        <MudNavLink Match="NavLinkMatch.Prefix" ActiveClass="bold" Href="/timetable">Timetable</MudNavLink>
    </span>
    <span>
        <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.Grade" class="mr-3" />
        @*Href varies depending on the role*@
        <MudNavLink Match="NavLinkMatch.Prefix" ActiveClass="bold" Href="grades">Grades</MudNavLink>
    </span>
    <span>
        <MudExpansionPanel Style="background-color:#f0f0f0;">
            <TitleContent>
                <div class="d-flex">
                    <MudIcon Size="Size.Large" Icon="@Icons.Material.Filled.AdminPanelSettings" class="mr-3"></MudIcon>
                    <MudText><strong>Administration</strong></MudText>
                </div>
            </TitleContent>
            <ChildContent>
                @*Admin only*@
                <MudNavLink Href="/manage-headmasters">Manage Headmasters</MudNavLink>
                @*Admin only*@
                <MudNavLink Href="/manage-schools">Manage Schools</MudNavLink>
                @*Headmaster only*@
                <MudNavLink Href="/manage-teachers">Manage Teachers</MudNavLink>
                @*Headmaster only*@
                <MudNavLink Href="/manage-students">Manage Students</MudNavLink>
                @*Headmaster only*@
                <MudNavLink Href="/manage-parents">Manage Parents</MudNavLink>
                @*Headmaster only*@
                <MudNavLink Href="">Manage Classes</MudNavLink>
                @*Headmaster only*@
                <MudNavLink Href="/manage-timetables">Manage Timetable</MudNavLink>
            </ChildContent>
        </MudExpansionPanel>
    </span>
</div>
